* {
	font-family: 'Helvetica';
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */

	/* No support for these yet, use at own risk */
  	-o-user-select: none;
  	user-select: none;     
	cursor: default;
}
a{
	color:#999;
}
a:visited{
	color:#999;
}
body{
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}
h1 { margin: 0.02em;}
@font-face {
    font-family: 'Neou'; 
    src: url('../fonts/Neou-Thin.ttf'); 
}
.font-thin{
	font-family: 'Neou';
	font-weight: 100;
}
.super-size {
	font-size: 3em;
}
.content{
	color:black;
	margin-left: 1em;
}
.sections {
	margin-left: 1em;
}
.section {
	margin: 1vw;
	width: 90vw;
	margin-bottom: 2em;
}
.copyright {
	position: absolute;
	bottom: 1em;
	text-align: center;
	width: 100%;
	color:#AAA;
}
.block .content {
	max-height: 0;
	overflow: hidden;
	width:100%;
	max-width: 0%;
}
.paren{
	float: left;
	color: red;
}
.title{
	margin-right: 0.2em;
	float: left;
}
th{
	text-align: left;
}