<link rel='stylesheet' href='css/style.css'/>
<script src='lib/temple.js'></script>
<script src='lib/underscore.js'></script>
<script src='lib/jquery.js'></script>
<script src='lib/backbone.js'></script>
<script src='lib/coffee-script.js'></script>
<script src='lib/jquery.transit.min.js'></script>
<script src='lib/marked-min.js'></script>
<script type='text/coffeescript' src='coffee/app.coffee'></script>
<div class='content'>
</div>

<div id='templates'>
<script id='overview' type='text/markdown'>

keywords: [ [Game Designer], [Musician], [Programmer] ]

email: [james.a.forbes@gmail.com](mailto:james.a.forbes@gmail.com)

twitter: [@james_a_forbes](http://twitter.com/james_a_forbes)

phone: [0405 221 492](tel:0405 221 492)

[Game Designer]: http://canyonthings.com
[Programmer]: https://github.com/jaforbes
[Musician]: https://soundcloud.com/gazevectors/sets/impossible-lake

</script>
<script id='work_ideals' type='text/markdown'>
The ideal qualities I look for in any work I do:

- The work improves peoples lives.
- Productivity and morale are valued more highly than bureaucracy.
- Pride is taken in the work.
- _Great_ effort is spent hiring the right people, (as opposed to managing the wrong ones).
- Failures are discussed openly and seen as necessary to innovation.

</script>
<script id='languages' type='text/markdown'>

Preferred language: Javascript

Other languages: [ Python, Java, C# ]

Technologies: [ NodeJS, Markdown, git ]

Frameworks: [ Underscore, Backbone, Coffeescript, Jasmine, Marked, Transit, jQuery ]

</script>

<script id='story' type='text/markdown'>

2008: 
  
- Studied _Mechatronical Engineering_ at the [University of Technology Sydney]
- Discovered love for programming.
- Received multiple High Distinctions.

[University of Technology Sydney]: https://www.uts.edu.au/

2010: 

- Transferred to Game Design at [Northern Sydney Institute].

[Northern Sydney Institute]: http://www.nsi.tafensw.edu.au/

2011:

- Hired by [Thiess] after solving a packing algorithm.
- Software Development on the [National Broadband Network] project.
- Introduced to GIS systems (ESRI, SpatialNet)
- Received award for pitching crowd sourced network design solution through the medium of a social network game.
- Deployed numerous well received tools using Java EE, Python and C#

[National Broadband Network]: http://www.nbnco.com.au/
[Thiess]: http://www.thiess.com.au/

2014

- Web Developmer for online photo management tool [DPHOTO]
- Improved programming skills in Javascript
- Released several open source projects including [temple], [crescent], [downplay]

[DPHOTO]: http://www.dphoto.com/
[temple]: https://github.com/JAForbes/temple
[crescent]: https://github.com/JAForbes/crescent
[downplay]: https://github.com/JAForbes/downplay


</script>
<script id='references' type='text/markdown'>
####Tarek Kadri

_Manager of IT Systems, Silcar Communications_

Email: [TKadri@silcarcomms.com.au](mailto:TKadri@silcarcomms.com.au)

####Henry Dawson

_CEO, Escape Labs_

Email: [henry@dphoto.com](mailto:henry@dphoto.com)


</script>
</div>